[General]
#General Configuration
#The main tag used to identify Auto-Pocket content
Auto-Pocket-Tag = Auto-Pocket
#Tag to be given to articles uploaded via command line
cli_tag = CLI-Upload
#Delete cli uploaded articles older than 1 day
cli_delete_after = 1


[Engadget]
url = http://www.engadget.com/rss.xml
#Delete articles older than 1 day
delete_after = 1 
# Add all articles from the past 1 day
days_to_add = 1
# RSS feed special tag. 
tag = engadget 

